* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 24px;
}

h1 {
  margin-bottom: 12px;
}

p {
  margin: 8px 0;
}

li {
  list-style-type: none;
}

button {
  font: inherit;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

input,
textarea {
  outline: none;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding: 6px;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
  max-height: 300px;
}

a {
  text-decoration: none;
  color: #0284c7;
  font-weight: bold;
}

input:focus,
textarea:focus {
  border-color: #0284c7;
}

/* message board */

.message-board {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.no-messages {
  color: grey;
  font-style: italic;
  margin: 16px 0;
}

.message {
  padding: 12px;
}

.message-info {
  display: flex;
  gap: 8px;
}

.message-date {
  color: grey;
  font-size: 14px;
}

.user-name {
  font-weight: bold;
}

/* new message form */
.create-message {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 300px;
  width: 100%;
}

.create-message > label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-weight: bold;
}

.create-message > button {
  padding: 10px 12px;
  border-radius: 4px;
  background-color: rgb(41, 41, 41);
  color: #eee;
}
